
version: "3.9"

services:
  backend:
    build:
      context: .
      dockerfile: ./apps/backend/Dockerfile
    env_file:
      - ./apps/backend/.env
    ports:
      - "3000:3000"
    depends_on:
      - db

  frontend:
    build:
      context: ./apps/frontend
      dockerfile: Dockerfile
    env_file:
      - ./apps/frontend/.env
    ports:
      - "5173:80"
    depends_on:
      - backend

  db:
    image: postgres:14
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: teddy
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata: